@import url('./reset.css');

.title {
  font-size: 28px;
  color: tomato;
  margin: 10px 0;
}
.form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.search-input {
  border: 1px solid #808080;
  border-radius: 4px;
  background-color: #ffffff;
  width: 240px;
  height: 24px;
  padding: 8px 16px;
  font-family: inherit;
}
.search-input:hover {
  border: 1px solid #000000;
}
.search-input:focus {
  border: 1px solid #4e75ff;
  outline: none;
  color: #2e2f42;
}
::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}
.search-btn {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #4e75ff;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.search-btn:hover {
  background-color: #6c8cff;
}
.gallery {
  margin: 0 auto;
  padding: 24px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.gallery-image {
  width: 360px;
  height: 200px;
  transition: 500ms;
}
.gallery-image:hover {
  transform: scale(1.04);
  cursor: zoom-in;
  border-radius: 10px;
  box-shadow: 0px 8px 8px 2px rgba(16, 16, 97, 0.48);
}
